<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LibreMax</title>
    <!-- Link de font awesome para iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <!-- Sección nav editable -->
            <a href="@Url.Action("Index", "Home")" class="navbar-brand d-flex align-items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/732/732397.png" alt="Logo LibreMax" style="width: 40px; height: 40px; margin-right: 10px;" />
                LibreMax
            </a>

            <!-- Botón para cuando la pantalla se hace pequeña -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    <li>@Html.ActionLink("Productos", "Index", "Producto", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
                </ul>
                <div class="ms-auto me-3">
                    <a href="@Url.Action("Carrito", "Producto")" class="nav-link text-white d-inline-flex align-items-center position-relative">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="badge bg-primary position-absolute top-0 start-100 translate-middle rounded-pill" style="font-size: 0.75rem;">0</span>
                    </a>
                </div>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <!-- Footer -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p> Todos los derechos reservados &copy; @DateTime.Now.Year - LibreMax</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
