@model IEnumerable<Libreria.Models.CarritoProducto>

@{
    ViewBag.Title = "Editar Carrito";
}

<h2>Editar Carrito</h2>

@using (Html.BeginForm("Edit", "Carrito", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-hover align-middle">
                    <thead class="table-dark text-center">
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>@item.NombreProducto</td>
                                <td>
                                    @Html.HiddenFor(modelItem => item.Id)
                                    @Html.EditorFor(modelItem => item.Cantidad, new { htmlAttributes = new { @class = "form-control", style = "width: 60px;" } })
                                    @Html.ValidationMessageFor(modelItem => item.Cantidad, "", new { @class = "text-danger" })
                                </td>
                                <td>$@item.Precio</td>
                                <td>$@item.Subtotal</td>
                                <td>
                                    <button type="submit" class="btn btn-warning btn-sm" title="Actualizar cantidad">
                                        <i class="fas fa-save"></i> Guardar
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <a href="@Url.Action("Index", "Carrito")" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Volver
                </a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
